body {
    background-image: url("assets/images/circuit.png");
}

.myName {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    display: inline-block;
}
.foot-text {
    color: #ffffff;
    font-size: 12px;
    align-content: center;
}
h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 800;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.mainInfo {
    background-color: #ffffff;
    margin-top: 50px;
    padding: 25px;

}
img {
    margin-right: 20px;
}