body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/circuit.png");
}

.myName {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
}
.foot-text {
    color: #ffffff;
    font-size: 12px;
    align-content: center;
}
h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 800;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.mainInfo {
    background-color: #ffffff;
    margin-top: 50px;
    padding: 25px;

}
img {
    margin-right: 20px;
}
.form-box {
    background-color: #ffffff;
    margin-top: 50px;
    padding: 25px;
}
.submit {
    background-color: #4aaaa5;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 700px) {
    img {
        width: 200px;
    }
    img .myPic {
        width: 200px;
    }
}
@media (min-width: 800px) {
    img {
        width: 350px;
    }
    img .myPic {
        width: 200px;
    }
}
@media (min-width: 1000px) {
    img {
        width: 217px;
    }
    img .myPic {
        width: 200px;
    }
}
@media (min-width: 1300px) {
    img {
        width: 270px;
    }
    img .myPic {
        width: 200px;
    }
}